@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria:#000000;
    --cor-segundaria:#F6F6F6;
    --cor-terciaria:#22D4FD;
    --cor-hover:#272727;

    --fonte-principal:'Krona One',sans-serif;
    --fonte-segundaria: 'Montserrat',sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    
    
    box-sizing: border-box;
    background: var(--cor-primaria);
    color:var(--cor-segundaria);
    
}
.titulo-destaque{
    color: var(--cor-terciaria);
}

.cabecalho{
    padding: 2% 0% 0% 16%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 0%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}

h1{
    font-family: var(--fonte-principal);
    font-size: 2,25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    
}

p{
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

}

.titulo__redes__sociais {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: Montserrat;
    border-radius: 8px;
    width: 378px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;;
    font-weight: 600;
    border: 2px solid #22D4FD;
        
}

.botoes:hover{
    background: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    background: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-segundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width:800px){
   
    .cabecalho{
        padding: 10%;

    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
       
    }

    .apresentacao__conteudo{
        width: 93%;
        
    }
}
